.inside-card{
    padding: 15px;
}

.journal-links{
    font-size: 16px;
    ul {
        text-align: center;
        }
        
        li {
            margin-bottom: 1em;
        display: block;
        }
}