<div class="base-layout">
  <mat-card>
    <div class="inside-card journal-links">
      <h1>AAPP Journals</h1>
      <h2>2018</h2>
      <ul>
        <li>
          <strong>March 2019 Journal</strong> -
          <a href="/assets/journals/March2019Issue73.pdf" target="_blank">download (pdf)</a> 14.2MB</li>
        <li>
          <strong>December 2018 Journal</strong> -
          <a href="/assets/journals/December2018Issue72.pdf" target="_blank">download (pdf)</a> 39.1MB</li>
        <li>
          <strong>October 2018 Journal</strong> -
          <a href="/assets/journals/Oct_2018_Issue_71.pdf" target="_blank">download (pdf)</a> 9.7MB</li>
        <li>
          <strong>July 2018 Journal</strong> -
          <a href="/assets/journals/Journal%20July%202018%20Issue%2070.pdf" target="_blank">download (pdf)</a> 6.84MB
        </li>

      </ul>
      <hr>
      <h2>2017</h2>
      <ul>
        <li>December 2017 Journal -
          <a href="/assets/journals/Journal%20Dec%202017%20Issue%2069%20.pdf" target="_blank">download (pdf)</a>
        </li>
        <li>July 2017 Journal -
          <a href="/assets/journals/2017_3_jul_journal.pdf" target="_blank">download (pdf)</a> 11.7MB</li>
        <li>January 2017 Digest -
          <a href="/assets/journals/2017_1_jan_digest.pdf" target="_blank">download (pdf)</a> 10.6MB</li>
        <li>March 2017 Journal&nbsp;-
          <a href="/assets/journals/2017-2-mar-journal_0.pdf" target="_blank">download (pdf)</a> 8.4MB</li>
      </ul>
      <hr>
      <h2>2016</h2>
      <ul>
        <li>January 2016 Journal -
          <a href="/assets/journals/2016_1_jan_journal.pdf" target="_blank">download (pdf)</a> 6.95MB</li>
        <li>March 2016 Journal -
          <a href="/assets/journals/2016_2_mar_journal.pdf" target="_blank">download (pdf)</a> 9.55MB</li>
        <li>July 2016 Journal -
          <a href="/assets/journals/2016_3_jul_journal.pdf" target="_blank">download (pdf)</a> 12.965MB</li>

      </ul>
      <hr>
      <h2>2015</h2>
      <ul>
        <li>January 2015 Digest -
          <a href="/assets/journals/2015_1_jan_digest.pdf" target="_blank">download (pdf)</a> 10.05MB</li>
        <li>March 2015 Journal -
          <a href="/assets/journals/2015_2_mar_journal.pdf" target="_blank">download (pdf)</a> 10.57MB</li>
        <li>July 2015 Journal -
          <a href="/assets/journals/2015_3_jul_journal.pdf" target="_blank">download (pdf)</a> 10.66MB</li>
        <li>November 2015 Journal -
          <a href="/assets/journals/2015_4_nov_journal.pdf" target="_blank">download (pdf)</a> 9.81MB</li>
      </ul>
      <hr>
      <h2>2014</h2>
      <ul>
        <li>January 2014 Digest -
          <a href="/assets/journals/2014_1_jan_digest.pdf" target="_blank">download (pdf)</a> 4.87MB</li>
        <li>March 2014 Journal -
          <a href="/assets/journals/2014_2_mar_journal.pdf" target="_blank">download (pdf)</a> 9.78MB</li>
        <li>July 2014 Journal -
          <a href="/assets/journals/2014_3_jul_journal.pdf" target="_blank">download (pdf)</a> 6.65MB</li>
        <li>November 2014 Journal -
          <a href="/assets/journals/2014_4_nov_journal.pdf" target="_blank">download (pdf)</a> 8.71MB</li>
        <li>2014 in Review -
          <a href="/assets/journals/2014_in_review.pdf" target="_blank">download (pdf)</a> 13.0MB</li>
      </ul>
      <hr>
      <h2>2013</h2>
      <ul>
        <li>January 2013 Digest -
          <a href="/assets/journals/2013_1_jan_digest.pdf" target="_blank">download (pdf)</a> 32MB</li>
        <li>March 2013 Journal -
          <a href="/assets/journals/2013_2_mar_journal.pdf" target="_blank">download (pdf)</a> 108MB</li>

        <li>November 2013 Journal -
          <a href="/assets/journals/2013_4_nov_journal.pdf" target="_blank">download (pdf)</a> 6.4MB</li>
      </ul>
    </div>
  </mat-card>
</div>