<div class="base-layout">
    <h1>A Message from the President</h1>

    <p>Welcome to the AAPP Website. Please take a moment to explore what the AAPP has to offer. For members, please log in
    to your account to keep up to date on the latest AAPP news and information.</p>
    <p>Every year, the AAPP sponsors the Annual Seminar at various locations across the United States. We have strived to
    keep the cost low for our attendees so we have not had any major cost increases in the fees to attend our Seminars.
    At these Seminars, we offer the latest in training through presentations from polygraph professionals and other
    professionals as it relates to the Police Polygraphist.</p>
    <img class="president-image" src="/assets/board/rembisz.jpg"  />
    <p>Along with the great training we present, the AAPP also gives back to the members during the Seminar to include a
    President’s Welcome Reception and a Tuesday Night Event both of which include a meal. We also host an Awards
    Luncheon during the Seminar where awards are presented to recognize the efforts of our members in the polygraph
    field. Our yearly Membership Meeting is also held during the Seminar and this is your chance to get involved in
    Association matters.</p>
    <p>The AAPP and the Seminars are not a success without you, the members, who attend the Seminars. Thank you for your
    support of the AAPP.</p>
    <p>The AAPP awards scholarships to worthy individuals who are furthering their education. If you have a college student
    in your family and are a member of the AAPP, I encourage you to visit the Scholarship Section of our website to have
    them apply. Three award amounts are presented each year at the Seminar.</p>
    <p>Joining the AAPP has financial benefits to you, the Polygraph Examiner. Did you know you will save money by becoming
    a member of the AAPP when you attend our Seminars? Currently, the Seminar rate for a member is $320.00. Non-member rate is $595.00. A difference of $275.00. The yearly membership fee
    is $125.00 and has not increased for several years. Please consider joining the AAPP and attending our Seminars. The
    feedback we receive from those attending has been very positive and we strive each year to do better.</p>
    <p>Thank you again for entrusting me to be the AAPP President; I am very honored to hold this position. I will continue
    to ensure this remains the professional association that it is and has become. I will continue the direction set by
    the Past-Presidents of the AAPP.</p>
    <p>If there is anything the AAPP can do for you, please do not hesitate to contact me or any of the Board Members for
    assistance.</p>
    
    
            <div class="president-name">Adam Rembisz</div>
            <div class="president-title">President</div>
            <div class="president-org">American Association of Police Polygraphists</div>


</div>