<div class="base-layout">
    <h1>Past Presidents</h1>
    <div class="past-pres-line">2018-Present: ADAM REMBISZ</div>
    <div class="past-pres-line">2018-2021: DEREK PIASECKI</div>

    <div class="past-pres-line">2015 - 2018: JAMES WARDWELL</div>

    <div class="past-pres-line">2013 - 2015: KAREN E. CLARK</div>

    <div class="past-pres-line">2011 - 2013: BRUCE P. ROBERTSON</div>

    <div class="past-pres-line">2008 - 2011: TOBY MCSWAIN</div>

    <div class="past-pres-line">2006 - 2008: DONALD J. IMBORDINO</div>

    <div class="past-pres-line">2004 - 2006: BRUCE P. ROBERTSON</div>

    <div class="past-pres-line">2002 - 2004: MICHAEL G. MANN</div>

    <div class="past-pres-line">2000 - 2002: GORDON W. MOORE</div>

    <div class="past-pres-line">1998 - 2000: JOHN P. MATA</div>

    <div class="past-pres-line">1996 - 1998: LINDA J. QUINN</div>

    <div class="past-pres-line">1995 - 1996: BILLY J. RAKES</div>

    <div class="past-pres-line">1994 - 1995: JOSEPH A. HUGHES, JR.</div>

    <div class="past-pres-line">1992 - 1994: PETER J. BRANNON</div>

    <div class="past-pres-line">1990 - 1992: JESSE E. SPRAYBERRY</div>

    <div class="past-pres-line">1989 - 1990: HOLLY S. CANTY</div>

    <div class="past-pres-line">1988 - 1989: ARTHUR A. HADEL</div>

    <div class="past-pres-line">1986 - 1988: DAVID W. SCHERER</div>

    <div class="past-pres-line">1984 - 1986: COONEY S. SARRACINO</div>

    <div class="past-pres-line">1983 - 1984: KENNETH W. SHIFLET</div>

    <div class="past-pres-line">1982 - 1983: HENRY L. CANTY</div>

    <div class="past-pres-line">1981 - 1982: PETER L. DESTEFANO</div>

    <div class="past-pres-line">1980 - 1981: JAMES F. ROBLES</div>

    <div class="past-pres-line">1979 - 1980: RAYMOND D. INGLIN</div>

    <div class="past-pres-line">1977 - 1979: WILLIAM J. TAYLOR</div>
</div>