/.angular/cache
.DS_Store

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env


# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# ignore slug files
.slugignore
