<div class="top-links">
  <a routerLink="/web/conf/news">News</a> |
  <a routerLink="/web/conf/custom-schedule">My Schedule</a> |
  <a routerLink="/web/conf/schedule">Master Schedule</a>
</div>
<div>
  <mat-card class="info-card">
    <h1>Seminar Hotel / Info</h1>
    <div class="book">
      <h5>Arizona Grand Resort and Spa</h5>
      <div class="rate">$96/night (Gov Rate)</div>
      <p>You can book your room <b>now</b> by clicking <a href="https://reservations.arizonagrandresort.com/110245?groupID=3289790#/guestsandrooms"
          target="_blank">here</a>. </p>
    </div>

    <div class="area">
      <p>May 22, 2023, through Friday, May 26, 2023<br />
        Tel: (816) 421-6800<br />
        Kansas City Marriott Downtown <br />
        200 West 12th Street <br>
        <br>   Kansas City, MO 64105
      </p>

      <h2>About Arizona Grand Resort and Spa</h2>
      <p>Arizona Grand Resort & Spa puts you in the midst of one of Phoenix, Arizona’s most naturally beautiful places,
        ideally situated on the doorstep of 17,000 acres of South Mountain Preserve, the largest municipal park in the
        world and the most visited hiking destination in the state.</p>
      <p>Conveniently located less than 10 minutes from Sky Harbor International Airport, Arizona Grand is easily
        accessible via I-10 and US-60, offering quick connections to numerous other major freeways.</p>
      <p>The luxurious Arizona resort is nestled in a private southwestern desert oasis and offers a one-of-a-kind
        setting at the base of naturally beautiful South Mountain Preserve. Awarded the Gold Key Award by Meetings &
        Conventions magazine, Arizona Grand Resort & Spa is the singular Phoenix property that can provide guests with
        world-class service, spacious all-suite accommodations, state-of-the-art meeting facilities and world-class
        catering cuisine. Guests can take advantage of our luxury rooms or on site-amenities including our golf course,
        spa and dining options. Sophisticated rooms and 1- and 2-bedroom suites feature 42-inch flat-screen TVs, wet
        bars, free Wi-Fi, and private balconies or patios.</p>
      <p>Perks include an 18-hole golf course, a spa, a fitness center with multiple classes, and 6 dining venues
        ranging from a casual cafe to a casita-style Mexican restaurant. There is also a 7-acre water park, exclusively
        for guests, with a wave pool, water slides and private cabanas</p>
      <h2>Waterpark</h2>
      <p>
        Voted by the Travel Channel as one of the country’s Top 10, Arizona Grand Resort & Spa’s expansive, wild and fun
        Oasis has something for kids of all ages, making it perfect for your next family getaway.
        Built across 7 acres, this premium amenity boasts 8-story thrill slides, a giant wave pool, a 25-person hot tub,
        the Valley’s only side-by-side active river, and Wild Cat Springs which is perfect for younger children.
      </p>
      <h4>References for more information:</h4>
      <a href="https://www.visitphoenix.com/things-to-do/">https://www.visitphoenix.com/things-to-do/</a><br /> d

    </div>
  </mat-card>
</div>
