<div class="base-layout">


        <h1>AAPP Awards</h1>
        <div class="awards-p">
        <h3>2020 Award Recipients</h3>
        <ul>
                <li>Region I – Phillip Rivera </li>
                <li>Region II – James Hensley </li>
                <li>Region III – Vance Row </li>
                <li>Region IV – Rosa Perez</li>
                <li>Region V – Benjamin Blalock</li>
        </ul>

        <h3>2021 Award Recipients </h3>
        <ul>
                <li>Region I – Pascual Labine</li>
                <li>Region II – Ryan Phinney </li>
                <li>Region III – Erik Able </li>
                <li>Region IV – Matt Mull</li>
                <li>Region V – Jonathan Arnold
        </ul>
        </div>
        <p class="awards-p">These awards are given annually at the seminar banquet. Nominations for these awards should
                be submitted to your
                regional director prior to January 1st of each year for the upcoming seminar.
        </p>

        <h2>
                THE MAX WASTL SR. AWARD</h2>
        <p class="awards-p">
                This award was developed to pay homage to Max Wastl Sr. for his long and continued contributions to the
                polygraph profession.
                Nominees for this award are individuals that have, over the years, made significant contributions which
                can
                be scientific, materialistic (publications), modifications and/or advancements in instrumentation,
                testing
                techniques or distinguished, long-standing service. Nominees must be in good standing with the AAPP and
                selection
                must be made by a unanimous vote of the Board. If a consensus cannot be reached, the award will not be
                issued
                for that year.
        </p>
        <h2>
                THE HOLLY S. CANTY MEMORIAL AWARD
        </h2>
        <p class="awards-p">
                This award was developed to pay tribute to Holly S. Canty for outstanding leadership and dedicated
                service to the AAPP. Criteria
                for this selection include outstanding leadership, service or contribution in furthering the objectives
                of
                the AAPP. Nominees do not have to be an association member and selection requires majority vote of the
                Board.
        </p>
        <h2>
                DR. ANTONIO SUAREZ-BARRIO FOUNDING FATHERS' AWARD
        </h2>
        <p class="awards-p">
                Long and selfless service to the AAPP and being so extraordinary, clearly rising above and beyond the
                call of duty and expectations;
                bringing distinction to the recipient above all others due to his acts, words and deeds. Nominees must
                be
                in good standing with the AAPP and selection must be made by a unanimous vote of the Board. If a
                unanimous
                vote cannot be reached, the award will not be issued for that year; only one award may be given
                annually.
                The recipient of the award will thereafter be excused from all dues and seminar fees.
        </p>
        <h2>
                PRESIDENT'S AWARD
        </h2>
        <p class="awards-p">
                Selected and presented by the president of the AAPP to the person he or she believes most supported him
                in his efforts as
                president of the AAPP. To be presented to a non-Board member.
        </p>
        <h2>
                ANNUAL RICHARD O. ARTHER REGIONAL DIRECTOR'S AWARDS
        </h2>
        <p class="awards-p">
                Selected and presented by each Regional Director. The award is to be based upon a significant case or
                contribution within
                the respective region. The recipient/unit must be a member of the AAPP. As a general rule, the award is
                kept
                secret until the Thursday night banquet, although the director may choose to make the recipient's
                supervisor
                aware of the award so arrangements can be made to have the person attend the seminar.
        </p>
        <h2>
                WILLIAM J. TAYLOR LIFE MEMBERSHIP AWARD
        </h2>
        <p class="awards-p">
                The William J. Taylor Life Membership Award is awarded to all past presidents. Life Membership is also
                granted to those active
                or retired members of the AAPP who, because of extraordinary or outstanding service to the AAPP, are
                nominated
                by a two-thirds majority of the Board of Directors and approved by a majority vote of the membership at
                an
                Annual Meeting. No more than one life membership will be awarded annually. (Requires majority vote by
                membership
                at the Annual Meeting)
        </p>
        <mat-divider></mat-divider>
        <h2>
                AAPP Awards - History
        </h2>
        <div layout layout-margin layout-wrap layout-align="center start">

                <div class="award-list">
                        <h3>
                                Max Wastl Sr. Award:
                        </h3>
                        <ul>
                                <li>2021 - Donnie Dutton</li>
                                <li>2022 - Ted Todd</li>
                                <li>2019 - John R. “Jack” Trimarco</li>
                                <li>2018 - Dave Nagle</li>
                                <li>2017 - Mark Handler</li>
                                <li>2016 - Stuart Senter, PhD</li>
                                <li>2015 - Donald J. Krapohl</li>
                                <li>2014 - Mark Handler</li>
                                <li>2013 - John R. Schwartz</li>
                                <li>2012 - Samuel Braddock</li>
                                <li>2011 - Ron Decker</li>
                                <li>2010 - Raymond Nelson</li>
                                <li>2009 - G. Jeffrey Johnson</li>
                                <li>2008 - Instrument Companies: Axciton, Lafayette, Limestone, and Stoelting</li>
                                <li>2007 - Cleve Backster</li>
                                <li>2006 - Gordon W. Moore</li>
                                <li>2005 - Not given</li>
                                <li>2004 - Elmer Criswell</li>
                                <li>2003 - Billy Rakes</li>
                                <li>2002 - Dave Miller</li>
                                <li>2001 - Bob Heard</li>
                                <li>2000 - Not given</li>
                                <li>1999 - Linda J. Quinonez</li>
                                <li>1998 - Not given</li>
                                <li>1997 - Kathy Fuller</li>
                                <li>1995 - Eric Holden</li>
                                <li>1994 - Chris Fausett</li>
                                <li>1992 - Arther Hadel</li>
                                <li>1991 - Lee Chambers</li>
                                <li>1990 - Richard O. Arther</li>
                        </ul>
                </div>



                <div class="award-list">
                        <h3>
                                Holly S. Canty Memorial Award:
                        </h3>
                        <ul>
                                <li>2021 - Jim Wardwell</li>
                                <li>2020 - Amanda Reece</li>
                                <li>2019 - Karen Clark</li>
                                <li>2018 - Ben Blalock</li>
                                <li>2017 - James Dillard</li>
                                <li>2016 - Bob Cole</li>
                                <li>2015 - Pamela Shaw</li>
                                <li>2014 - G. Jeff Johnson</li>
                                <li>2013 - John Mata</li>
                                <li>2012 - David G. Wattley</li>
                                <li>2011 - Linda Quinn</li>
                                <li>2010 - Jack Trimarco</li>
                                <li>2009 - Donald Krapohl</li>
                                <li>2008 - John R. Schwartz</li>
                                <li>2007 - Bruce P. Robertson</li>
                                <li>2006 - Not given</li>
                                <li>2005 - Not given</li>
                                <li>2004 - Not given</li>
                                <li>2003 - Kay Logan & Anne Reed</li>
                                <li>2002 - Founding Fathers - Bill Taylor, Johnny Maxwell, Tony Barrio & Dick Arther
                                </li>
                        </ul>
                </div>

                <div class="award-list">
                        <h3>
                                Dr. Antonio Suarez-Barrio Founding Fathers' Award:
                        </h3>
                        <ul>
                                <li>2021 - NONE</li>
                                <li>2020 - Raymond Inglin (Posthumously)</li>
                                <li>2019 - James Dillard</li>
                                <li>2018 - Bob Heard</li>
                                <li>2017 - Gordon Moore</li>
                                <li>2016 - Henry Canty</li>
                                <li>2015 - Not given</li>
                                <li>2014 - Richard O. Arther</li>
                                <li>2013 - Not given</li>
                                <li>2012 - William J. "Bill" Taylor, AAPP #1</li>
                        </ul>
                </div>

                <div class="award-list">
                        <h3>
                                President's Award:
                        </h3>
                        <ul>
                                <li>2021 - David Nagle</li>
                                <li>2020 - NHS Global</li>
                                <li>2019 - Michael Akers</li>
                                <li>2018 - Jennifer Herring</li>
                                <li>2017 - Tracey Hilton</li>
                                <li>2016 - Chris Fausett</li>
                                <li>2015 - Robert C. "Bob" Heard</li>
                                <li>2014 - Melanie Javens, Complete Equity Markets</li>
                                <li>2013 - Donald J. Imbordino</li>
                                <li>2012 - Mark Gerspacher, Ray Nelson & Mark Handler</li>
                                <li>2011 - Jose Gonzales</li>
                                <li>2010 - David Nagle</li>
                                <li>2009 - AAPP Board of Directors</li>
                                <li>2008 - Julie Gerspacher</li>
                                <li>2007 - Not given</li>
                                <li>2006 - Not given</li>
                                <li>2005 - Billy Rakes</li>
                                <li>2004 - John Mata</li>
                                <li>2003 - Not given</li>
                                <li>2002 - Bob Cole</li>
                                <li>2001 - Tony Barrio</li>
                                <li>1999 - Wolfgang Vinskey</li>
                                <li>1998 - David L. Williams & Ronald L. Fox</li>
                                <li>1994 - Kathy Fuller</li>
                                <li>1991 - Holly Canty</li>
                        </ul>
                </div>

                <div class="award-list">
                        <h3>
                                William J. Taylor Life Membership Award:
                        </h3>
                        <ul>
                                <li>2021 - Travey Hilton</li>
                                <li>2020 - Esther Harwell</li>
                                <li>2019 - Dale Austin</li>
                                <li>2018 - Roger Butler</li>
                                <li>2017 - G. Jeff Johnson</li>
                                <li>2016 - Ron Hilley</li>
                                <li>2015 - Vincent Hernandez</li>
                                <li>2014 -Elmer Criswell</li>
                                <li>2013 - Charles Slupski</li>
                                <li>2012 - Joseph Kenny</li>
                                <li>2011 - Dr. Anthony "Tony" S. Barrio
                                <li>2010 - Robert Cole
                                <li>2009 - Donald Weinstein</li>
                                <li>2008 - Robert C. "Bob" Heard
                                <li>2007 - Not given
                                <li>2006 - Not given
                                <li>2005 - Dave Renzelman</li>
                                <li>2004 - Ron Decker</li>
                        </ul>
                </div>

                <div class="award-list">
                        <h3>
                                Region I "Richard O. Arther Director's Awards"
                        </h3>
                        <ul>
                                <li>2021 - Pascual Labine</li>
                                <li>2020 - Phillip Rivera</li>
                                <li>2019 - Thomas Kelly</li>
                                <li>2018 - John Odum</li>
                                <li>2017 - San Bernadino Co (CA) Sheriff's Dept. Polygraph Detail</li>
                                <li>2016 - Thomas Jayo</li>
                                <li>2015 - Norman Kelly
                                <li>2014 - Chad W. Russell
                                <li>2013 - Scott Sudaiser</li>
                                <li>2012 - Chip Morgan</li>
                                <li>2011 - Ron Homer</li>
                                <li>2010 - Jana Bouzek</li>
                                <li>2009 - Leonard Salcedo</li>
                                <li>2008 - Carl McCormack</li>
                                <li>2007 - Jamie Skeeters (Posthumously)</li>
                                <li>2006 - Chip Morgan</li>
                                <li>2005 - Michelle Gamboa</li>
                                <li>2004 - Paul Redden</li>
                                <li>2003 - Ted Todd</li>
                                <li>2002 - Mike Doole</li>
                                <li>2001 - Wayne Smith</li>
                        </ul>
                </div>

                <div class="award-list">
                        <h3>
                                Region II "Richard O. Arther Director's Awards"
                        </h3>
                        <ul>
                                <li>2021 - Ryan Phinney</li>
                                <li>2020 - James Hensley</li>
                                <li>2019 - Minnesota Polygraph Association</li>
                                <li>2018 - Steve Theodore</li>
                                <li>2017 - Paul R. Hansard</li>
                                <li>2016 - Jeff S. Goble</li>
                                <li>2015 - Neil S. Myres</li>
                                <li>2014 - Clinton C. Elwood</li>
                                <li>2013 - John Zagelmeir</li>
                                <li>2012 - Mike Walsh</li>
                                <li>2011 - Michigan State Police, Polygraph Unit</li>
                                <li>2010 - Lynn Fields</li>
                                <li>2009 - Roger Butler</li>
                                <li>2008 - Vincent Hernandez</li>
                                <li>2007 - Geoffrey Flohr</li>
                                <li>2006 - Cook County SO Polygraph Unit</li>
                                <li>2005 - Rick Atterberry</li>
                                <li>2004 - Lynn Marcy</li>
                                <li>2003 - Alan Teschendorf</li>
                                <li>2002 - John Carter</li>
                                <li>2001 - John Hurlock</li>
                        </ul>
                </div>


                <div class="award-list">
                        <h3>
                                Region III "Richard O. Arther Director's Awards"
                        </h3>
                        <ul>
                                <li>2021 - Erik Abel</li>
                                <li>2020 - Vance Row</li>
                                <li>2019 - William Evans</li>
                                <li>2018 - Michael Wyatt</li>
                                <li>2017 - Elmer Criswell</li>
                                <li>2016 - Karen O'Connor</li>
                                <li>2015 - Jonathan S. Laughlin</li>
                                <li>2014 - David J. Crawford</li>
                                <li>2013 - John Consigli</li>
                                <li>2012 - James V. Slusher, Jr.</li>
                                <li>2011 - Timothy Cotton</li>
                                <li>2010 - James Johnson Jr.</li>
                                <li>2009 - Jonathan Laughlin</li>
                                <li>2008 - Todd Witmer</li>
                                <li>2007 - Timothy Madden</li>
                                <li>2006 - Joseph S. Jakubiec</li>
                                <li>2005 - William F. Gonnelli</li>
                                <li>2004 - Brian D. Reigle</li>
                                <li>2003 - James Wardwell</li>
                                <li>2002 - Roger Chrans</li>
                                <li>2001 - Steve Stechshulte</li>
                        </ul>
                </div>

                <div class="award-list">
                        <h3>
                                Region IV "Richard O. Arther Director's Awards"
                        </h3>
                        <ul>
                                <li>2021 - Matt Mull</li>
                                <li>2020 - Rose Perez</li>
                                <li>2019 - Tammy Lee</li>
                                <li>2018- Anthony Bennett</li>
                                <li>2017 - Texas DPS Polgraph Detail</li>
                                <li>2016 - Eric Lucero</li>
                                <li>2015 - Winston R. Bell & Randell L. Iles</li>
                                <li>2014 - Marc T. Micciche</li>
                                <li>2013 - Joseph Levesque & Fred Ball</li>
                                <li>2012 - Mary Ellen Widackiv
                                <li>2011 - Charles "Matt" Hicks</li>
                                <li>2010 - Esther Harwell</li>
                                <li>2009 - David E. Moore</li>
                                <li>2008 - Mark Johnson</li>
                                <li>2007 - Chris Schaefer</li>
                                <li>2006 - Lt. Walt Goodson</li>
                                <li>2005 - Mark Handler</li>
                                <li>2004 - Phoenix PD Polygraph Detail</li>
                                <li>2003 - William K. Teigen</li>
                                <li>2002 - Sabino Martinez</li>
                                <li>2001 - Frank Ruiz</li>
                        </ul>
                </div>

                <div class="award-list">
                        <h3>
                                Region V "Richard O. Arther Director's Awards"
                        </h3>
                        <ul>
                                <li>2021 - Jonathan Arnold</li>
                                <li>2020 - Benjamin Blalock</li>
                                <li>2019 - Chris Campbell</li>
                                <li>2018 - Don Carroll</li>
                                <li>2017 - James Tracy Orr</li>
                                <li>2016 - Laura K. Jones</li>
                                <li>2015 - Charles M. Hicks</li>
                                <li>2014 - Amanda M. Nosalek</li>
                                <li>2013 - Robert McPherson & John Fyffe</li>
                                <li>2012 - Art Curnutte</li>
                                <li>2011 - Dale Clark</li>
                                <li>2010 - James Hall Jr.</li>
                                <li>2009 - George Louk</li>
                                <li>2008 - Richard Kurtz</li>
                                <li>2007 - Steve Hooker</li>
                                <li>2006 - Dennis C. Moore</li>
                                <li>2005 - Keith Keiper</li>
                                <li>2004 - Karen Clark</li>
                                <li>2003 - Matthew Averill</li>
                                <li>2002 - Roberto Chavez</li>
                                <li>2001 - Swanee Owen</li>
                        </ul>
                </div>
        </div>
        <p class="awards-p">
                NOTICE: We are attempting to reconstruct the list of AAPP award winners. Unfortunately, no accurate
                history of these esteemed
                awards can be located other than where indicated. If you know who the missing award recipients are,
                please
                contact our Historian, Secretary Bob Heard. - Thanks!
        </p>
</div>