.blog-item{
    width:300px;
    background-color:white;
    -webkit-box-shadow: 7px 8px 40px -4px rgba(0,0,0,0.27);
    -moz-box-shadow: 7px 8px 40px -4px rgba(0,0,0,0.27);
    box-shadow: 7px 8px 40px -4px rgba(0,0,0,0.27);
    cursor: pointer;
    &.preview{
        cursor: default;
    }
}

.blog-image{
   width:300px;
   height:300px;
   min-height:300px;
   min-width: 300px;
}

.blog-title{
    padding:5px;
    margin:5px;
    background: white;
    font-size: 1.1em;
}

@media(max-width:'599px'){
    .blog-item{
        width:auto;
        background-color:white;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .blog-image{
        width:100%;
        height:auto;
     }
}

// @media(max-width:'599px'){

//     .blog-item{
//         margin:0;
//     }
//     .blog-image{
//         width:100%;
//         height:auto;
//     }

//     .blog-item{
//         height:auto;
//     }
// }
@media(min-width:'600px'){

    .blog-item{
        height:100%;
    }
    
    .blog-paragraph{
        overflow: hidden;
        padding: 8px;
        text-align: justify;
        
    }
}

.blog-paragraph{
    overflow: hidden;
        padding: 8px;
    p{
       
        white-space: pre-wrap;
        display: block;
        text-align: justify;
        -webkit-margin-before: 0;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
    }
}

