.aapp-sidebar{
    text-align:center;
}

.ad-container{
    padding: 50px 30px 0 30px;
}

.public-layout{
    background: white;
    overflow-y: auto;
}

.sponsor-heading{
    max-width: 140px;
}

.office-contact-info{
    margin-top:30px;
    padding-top: 20px;
    border-top: 1px solid gray;
    h3{
        font-size: 1em;
        color: rgb(4, 4, 117);
    }
}

.version{
    margin-top:20px;
    font-size: 12px;
    color: gray;
    text-align: center;
}

.dev-icon{
    font-size: 12px;
}

.email-link{
    font-size: .9em;
}