.conf-info{
    padding: 40px 10px 10px 10px;
    background:white;
    .invoice{
        margin: 15px 0;
        border: 1px gray solid;
        background: rgb(228, 228, 228);
        padding: 15px 0;
    }
    
    .actions{
        padding: 15px 0;
    }
    
    .order-description{
        color:rgb(134, 1, 1);
        padding-bottom: 10px;
    }
    
    .needs-approval{
        display:inline-block;
        color:red;
        margin-left: 10px;
    }
    
    .approved{
        color:green;
    }
    
    .checked-in{
        color:rgb(0, 0, 107);
        font-weight:bold;
    }
    
    .guest-row{
        padding: 0 10px;
        &.aapp-even{
            background:rgb(233, 233, 253);
        }
    }
    
    .refund-button{
        background-color: rgb(148, 0, 0);
        color: white;
        margin: 8px;
    }

    .section-animation-container{
        height:100%;
        overflow:hidden;
    }
    
    .section{
        margin:20px 5px;
        padding:15px 10px;
        border: 1px gray dotted;
        border-radius: 8px;
    }
    
    .section-heading{
        color: rgb(0, 0, 95);
    }
    
    .agreement-text{
        font-size: .9em;
        font-style: italic;
    }
    
    .join-actions{
        margin: 20px;
        padding: 20px 15px 30px 0;
    }
    
    .section-done{
        color: green;
        font-size: 1.5em;
        vertical-align: middle;
    }

    .add-guests-container{
        border-top: 15px rgb(0, 0, 73) solid;
        text-align: center;
        display:flex;
        align-content: center;
        justify-content: center;
        
    }
    .add-guests-inner{
        flex-grow:0;
        max-width: 800px;
    }
    
    .guest-container{
        position:relative;
        background: rgb(255, 247, 247);
        margin-bottom: 20px;
        border-radius: 8px;
        padding: 10px 0;
    }
    
    .delete-button{
        position:absolute;
        right: 2px;
        top: 2px;
    }
    
    .subtotals{
        text-align: center;
        border-bottom: 1px gray solid;
        div{
            padding: 5px;
        }
    }
    
    .total{
        color: red;
        font-size: 28px;
        padding: 5px;
    }
    
    .reg-ended{
        margin: 10%;
        background: red;
        border: 5px rgb(0, 0, 97) solid;
        padding: 10%;
        text-align:center;
        color:white;
    }
    
    .dates-times{
        padding: 20px 10%;
        font-size: 1.2em;
        color: rgb(0, 0, 99);
    }
    
    .payment-field{
        margin: 5px;
    }
    
    .credit-card-info{
        margin: 20px 10%;
    }
    
    .form-error{
        padding: 5px 10%;
        font-size: .8em;
        color: red;
        text-align: center;
    }
    

}