<div class="base-layout">
  <h1>
    <span style="color:#000080;">John E. Reid &amp; Associates</span>
  </h1>
  <mat-card>
    <div class="inner-card">
      <p>209 W. Jackson Boulevard, Suite 400
        <br/> Chicago, IL 60606
        <br/> (800) 255-5747</p>
      <div>
        <h2>Reid Preferred Group of Associations Discount Program (RPGA)</h2>
        <p>The American Association of Police Polygraphists has arranged for AAPP members to receive substantial discounts on
          training programs offered by John Reid &amp; Associates.</p>
        <h3>To receive your discount mention AAPP Code: A20-189</h3>
        <p>Please do not provide this code number to anyone who is not a member of the AAPP.</p>
        <p>
          <b>If registering online, you MUST AT THAT TIME provide the RPGA Association Code Number. If registering by phone,
            you MUST AT THAT TIME provide the RPGA Association Code Number to the registrar.</b>
        </p>
        <p>The reduced seminar fee for the REID open enrollment three-day seminar on The Reid Technique of Interviewing &amp;
          Interrogations is $420 - a savings of $155 from the standard $575 per person fee and $550 for the full four-day
          program (three-day plus one-day advanced) a savings of $225 from the standard $775 per person fee. The one-day
          advanced course is discounted from $275 to $210 - a savings of $65. In addition, the discounts are 10% or more
          on most Reid products.</p>
        <p>To view the John E. Reid &amp; Associates training schedule visit:</p>
        <p>
          <a href="http://www.reid.com/training_programs/r_interview_schedule.html" target="_blank">http://www.reid.com/training_programs/r_interview_schedule.html</a>
        </p>
      </div>
    </div>
  </mat-card>
</div>