.reports{
    background: white;
    h1,h2,h3,h4,h5{
        text-align: center;
    }
}

.report-downloads{
    margin: 15px;
    padding:15px;
    background: rgb(228, 224, 224);
}

.button-container{
    text-align: center;
}

.log-list{
    list-style-type:none;
    list-style-position: outside;
    border-left: 5px solid red;
    margin: 10px;
    padding: 0 0 0 10px;
    li{
        padding:0;
        margin: 0 0 8px 0;
    }
}

.log-date{
    color:red;
}