<div class="base-layout">
    <h1>Position on Voice Stress</h1>
    
    
<p>
In order to properly serve the Law Enforcement Community and to uphold the public trust, the American Association of Police Polygraphists will support only those methods of truth verification or lie detection which are supported by valid scientific evidence.
</p>
<p>
During the 1988 committee meetings regarding the Employee Polygraph Protection Act, the United States Congress issued an Explanatory Statement advising that polygraph was the only instrument that could be used for lie detection (EPPA 1988 HR1212). In 1990, the International Association 0f Chiefs of Police issued a resolution in support of the polygraph (IACP March 1990 Newsletter issue) The IACP again came out in support of polygraph in 1995 when the IACP National Law Enforcement Policy Center developed and issued a Model Policy on the use of polygraph. To date, the AAPP is not aware of any national law enforcement association or U.S. government agency involved in law enforcement investigations which has taken similar positions in support of voice stress equipment.
</p>
<p>
At issue is whether or not scientific research has demonstrated the validity and reliability of the voice stress equipment, now commonly referred to as computerized voice stress analyzers (CVSA). To date, the AAPP has found no scientific studies or independent research which support voice stress analysis as a method of discriminating between truth and deception. In fact, the most recent study by the Department of Defense, completed in September 1996, concluded that there was "no credible evidence to validate voice analysis as an effective instrument for determining deception.
</p>
<p>
Ultimately, every procedure and process employed by a law enforcement agency must be able to withstand the in-depth scrutiny of judicial proceedings. In making a determination of acceptability, the courts will weigh the available scientific data. “Testimonials” without the support of reliable scientific (information will not meet the standards for acceptable evidence. Polygraph is the only deception detection device which has the scientific support and has earned judicial acceptance for expert testimony.
</p>
<p>
In addition to jeopardizing criminal proceedings, the use of methods and equipment which have not been proven to be impartial, valid and reliable may expose a law enforcement agency to potential civil liability. As law enforcement professionals and public servants, it is our duty and responsibility to protect and uphold the individual civil rights of the citizens which we serve.
</p>
<p>
Additional information regarding voice stress analyzers may be found at the National Criminal Justice Reference Service.
</p>   
</div>