<h4 mat-dialog-title color="primary">Change Password</h4>
<div mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="change()" novalidate>
    <div layout="column">
      <div flex layout="row" layout-xs="column" layout-margin>
        <mat-form-field flex>
          <input type="password" matInput formControlName="password1" placeholder="Password" />
        </mat-form-field>
        <mat-form-field flex>
          <input type="password" matInput formControlName="password2" placeholder="Re-enter Password" />
        </mat-form-field>
      </div>
    </div>
  </form>
  <div class="error-instructions" *ngIf="password.invalid">Your password must be at least 8 characters long. Please be sure to enter at least one CAPITAL letter, one LOWERCASE letter, one NUMBER and one SYMBOL.</div>
  <div class="error-instructions" *ngIf="confirmPass.value != password.value">Passwords do not match.</div>
</div>
<div mat-dialog-actions class="actions-right">
  <div layout="row" layout-align="end end" layout-margin>
    <button flex="nogrow" type="button" mat-dialog-close mat-button>Cancel</button>
    <button flex="nogrow" color="accent" mat-button (click)="change()" [disabled]="!form.valid || !matching">CHANGE PASSWORD</button>
  </div>
</div>