.guestlist{
    background:white;
    margin: 20px;
    padding: 10px;
}
.guest-name{
    padding: .5em;
    border-radius:.5em;
    background: radial-gradient(white, lightgray);
    text-align: center;

}