<div class="conf-start" layout="column" layout-align="center center">
    <div flex="nogrow"><img class="conf-start-logo" src="/assets/images/logo_white.svg"/></div>
    <div flex="nogrow" class="conf-start-title">
      <h1>AAPP Seminar</h1>
      <h3>Quick Links</h3>
    </div>
    <a flex="nogrow" class="conf-start-button" routerLink="/web/conf/news">Seminar News</a>
    <a flex="nogrow" class="conf-start-button" routerLink="/web/conf/custom-schedule">My Schedule</a>
    <a flex="nogrow" class="conf-start-button" routerLink="/web/conf/schedule">Master Schedule</a>
  
  </div>