.download-bylaws{
    font-size: 1.1em;
    text-align: center;
    a{
        color:rgb(0, 0, 77);
    }
    a:visited{
        color: rgb(112, 0, 0);
    }
    a:active{
        color: rgb(0, 0, 77);
    }
    a:hover{
        color: rgb(43, 43, 43);
    }

   

}

.bylaws-padded{
    padding:20px;
}