<div class="base-layout">
    <mat-card class="bylaws-padded">
    <h1>Bylaws and Constitution</h1>
    <div class="download-bylaws">
        <p>For your convenience, you may download and view the AAPP Bylaws and Constitution in Microsoft Word or adobe PDF format.</p>
        <div>
        <a href="/assets/downloads/bylaws.doc"><mat-icon style="font-size: 5em;">note</mat-icon></a>
        <p>
            <a href="/assets/downloads/bylaws.doc">Download Bylaws & Constitution</a> - Microsoft Word
        </p>
        </div>
        <mat-divider></mat-divider>
       <div>
            <a href="/assets/downloads/bylaws.pdf"><mat-icon style="font-size: 5em;">picture_as_pdf</mat-icon></a>
        <p>
            <a href="/assets/downloads/bylaws.pdf">Download Bylaws & Constitution</a> - Adobe PDF
        </p>
        </div>
    </div>
    </mat-card>

</div>