<div class="base-layout">
    <h1>AAPP Standards and Principals</h1>
    <h2>Statement of Principles</h2>
    <p>The AAPP holds that the difference between truth and deception is as fundamental as the difference between right and
        wrong, and that the well-being and needs of communities, agencies, and individuals are best served by an objective
        and scientific approach to lie detection and credibility assessment. Polygraph testing, forensic psychophysiology,
        and credibility assessment, are evolving fields of science, intended to be used as decision support tools. These
        tools should aid investigators and referring agencies in making decisions about the truthfulness or deception of
        individuals in diagnostic and screening test circumstances. The role of scientific testing is to provide information,
        while professional evaluators are the final authority on all matters that require expert judgment. Decisions about
        truthfulness and deception are most effective when based on knowledge gained from empirical observation measurement
        and scientific decision methods. Valid and reliable decisions about truth and deception occur when all available
        information is utilized and evaluated in an objective, scientific and impartial manner, using the most current information,
        technology and techniques that are supported by scientific study.
    </p>

    <h2>Purpose</h2>
    <p>
        The purpose of a psychophysiological detection of deception (PDD, polygraph) examination is to determine whether the examinee
        is being truthful or deceptive regarding an issue under investigation. PDD examinations may be conducted as screening
        exams, and may also be conducted as investigative or evidentiary examinations. This guide establishes recommended
        procedural elements for conducting a proper psychophysiological detection of deception (PDD) examination.
    </p>

    <h2>Referenced Documents</h2>
    <h3>
        ASTM Standards
    </h3>
    <ul>
        <li>E1954 Practice for Conduct of Research in Psychophysiological Detection of Deception</li>
        <li>E2000 Guide for Minimum Basic Polygraph Training and Education</li>
        <li>E2063 Calibration and Functionality Checks Used in Forensic Psychophysiological</li>
        <li>Detection of Deception (Polygraph) Examinations</li>
        <li>E2439 Instrumentation, Sensors and Operating Software Used in Forensic Psychophysiological Detection of Deception
            (Polygraph) Examinations</li>
        <li>E2229 Interpretation of Psychophysiological Detection of Deception (Polygraph) Data</li>
        <li>E2062 PDD Examination Standards of Practice</li>
        <li>E2031 Quality Control of Psychophysiological Detection of Deception (Polygraph) Examinations</li>
    </ul>

    <h2>
        Basic Uses of PDD examinations
    </h2>
    <p>
        The polygraph examination should be a supplement to, not a substitute for, a field investigation.
    </p>
    <p>
        The effectiveness of the polygraph examination, to a large extent, will be based upon the thoroughness of the investigation,
        prior to having the person take the examination.
    </p>
    <p>
        To maximize the effectiveness of the polygraph examination, the investigator and the polygraph examiner should work together
        as a team.
    </p>
    <h2>
        Polygraph Examiner Qualifications
    </h2>
    <p>
        Members conducting PDD examinations should meet the minimum initial training and continuing educational requirements, including
        attendance at one professional polygraph seminar on a yearly basis in order to maintain and improve their professional
        competency as defined in the AAPP Constitution.
    </p>
    <p>
        To the extent possible, member examiners should be bound individually and collectively to the standards, objectives, and
        principals of practice of the American Association of Police Polygraphists, Inc., and existing law(s) in their respective
        jurisdictions. Members should avail themselves, as necessary and allowable, to periodic quality control review through
        the Association's Quality Control Committee or other quality control procedure.
    </p>

    <h2>Preparation</h2>
    <p>
        Prior to any examination, member examiners should consult with investigators, review the circumstances, case facts and relevant
        documents in order to identify the PDD target issues.
    </p>
    <p>
        Member examiners should ensure the instrument they intend to use is functioning in accordance with the manufacturer's specifications
        prior to beginning an examination.
    </p>

    <h2>
        Testing Location and Conditions
    </h2>
    <p>
        Member examiners should strive to conduct all PDD examinations in settings that are sufficiently free from distractions that
        could interfere with the examinee's attention to the test stimuli.
    </p>
    <h2>
        Pretest Practices
    </h2>
    <p>
        The examiner should:
    </p>
    <ul>
        <li>Verify the correct identity of the examinee to the degree practicable.
        </li>
        <li>Obtain the written voluntary consent of the examinee prior to testing, and comply with any statutory rights advisement
            as may be applicable.
        </li>
        <li>Assess the mental and physical fitness for testing, to the extent legally practicable and allowable, for each examinee.
        </li>
        <li>Terminate any polygraph examination if it becomes apparent to the examiner that the examinee is not suitable for
            testing.
        </li>
        <li>Be familiar and in compliance with governing local, state, and federal regulations and laws and any departmental
            policy or procedure.
        </li>
        <li>Maintain and display an objective approach throughout the PDD exam.
        </li>
        <li>Allow the examinee sufficient time to fully explain his/her position as related to the target issues to be tested.
        </li>
        <li>Formulate all test questions in compliance with empirically supported field practices and recognized professional
            practice standards.
        </li>
        <li>Ensure the examinee and the examiner have the same understanding of every test question.
        </li>
        <li>Spend adequate time to orient the examinee to the PDD instrumentation, examination process, and the expectation or
            requirement for cooperation during testing.</li>
    </ul>
    <h2>
        Minimum Requirements for Polygraph Instrumentation and Software
    </h2>
    <p>
        A minimum of two channels of respiratory activity shall be simultaneously recorded: one thoracic and one abdominal. A minimum
        of one channel of electrodermal activity, via resistance or conductance, shall be recorded. A minimum of one channel
        of relative blood pressure (cardiovascular) activity shall be recorded. Additional channels may be recorded but should
        not replace collection and recording of respiration, electrodermal and cardiovascular activity. Only data channels
        supported by published research shall be used for the formulation of an opinion.
    </p>
    <p>
        The instrumentation and software shall permanently record the following: identity of examinee (as applicable), date and time
        of the examination, start/stop times of recording, pressure settings (when applicable), gain settings (when adjustable),
        any in-test instructions given examinee, stimulus onset, stimulus identification, end of stimulus, any answer given
        by examinee, standardized chart markings, and any changes made to the instrumentation or software during recording
        (such as pressure changes, centering adjustments and gain adjustments).
    </p>
    <h2>
        Test Practices
    </h2>
    <p>
        The polygraph examination should be recorded by audio or audio/visual means in its entirety, from the onset of the pretest
        interview through the completion of the posttest review, unless prohibited by law, rule or regulation. The recording
        should be continuous, and any stops or pauses should be explained on the recording. All PDD examination records and
        recordings shall be retained and maintained for a minimum of one year or longer as may be required by law. Questions
        should be presented in such a manner as to not influence the examinee's responses.
    </p>
    <p>
        Member examiners should make and maintain a continuous recording of the data produced during the in-test phase.
    </p>
    <p>
        Question intervals for deception tests shall allow for a reasonable recovery and stimulus onset to stimulus onset should
        not be less than 20 seconds, though a minimum of 25 seconds is recommended.
    </p>
    <h2>
        Evaluation Practices
    </h2>
    <p>
        The member examiner should evaluate the test data using a numerical evaluation method for which there are known error and
        accuracy rates reported in published and replicated research.
    </p>
    <p>
        Examiners should maintain all records of test data analysis in accordance with ASTM standards or their agency policy.
    </p>
    <p>
        Examiners should collect a sufficient amount of physiological data suitable for evaluation in compliance with the format
        utilized.
    </p>
    <p>
        All suitable physiological data shall be evaluated and considered when formulating an opinion.
    </p>
    <h2>
        Post-Test Practices
    </h2>
    <p>
        Following collection of all physiological data, a discussion of the examination shall be conducted, as appropriate.
    </p>
</div>