.add-school-card{
    padding: 15px;

}

.schools-heading{
    margin:20px;
}

.school-card{
     padding: 10px;


}

.search-card,.pagination-card{
    padding:10px;
    margin:15px;

}

.nobreak{
    white-space: nowrap;
}