<div class="news-bg">
    <h1>Member News</h1>
    <div layout="column" [@slideInFromBottom]="true" class="blogs section-animation-container">
        <div class="section" layout="row" layout-xs="column" layout-wrap layout-align="center stretch" layout-align-xs="center center" layout-margin>
        <aapp-blog-detail blogType="member" flex="initial" *ngFor="let post of blogs" [post]="post"></aapp-blog-detail>
        </div>
        <div class="pagination section">
            <mat-paginator class="paginator" [pageIndex]="page - 1" [length]="total" [pageSize]="limit" [pageSizeOptions]="[10, 20, 50, 100]"
                (page)="pageEvent($event)">
            </mat-paginator>
        </div>
    </div>
</div>
<!-- <div class="base-layout">
        <h1>Member News</h1>
        <div class="blogs">
            <aapp-blog-detail blogType="member" *ngFor="let post of blogs" [post]="post"></aapp-blog-detail>
        </div>
        <div class="pagination">
            <mat-paginator class="paginator" [pageIndex]="page - 1" [length]="total" [pageSize]="limit" [pageSizeOptions]="[10, 20, 50, 100]"
                (page)="pageEvent($event)">
            </mat-paginator>
        </div>
    </div> -->
