<div class="base-layout">
  <h1>AAPP Membership Levels</h1>
  <ol class="top-level">
    <li>Member</li>
    <ol class="second-level">
      <li>Must be a law enforcement polygraphist as defined in Article III.</li>
      <li>Must have demonstrated proficiency in the administration of polygraph examinations.</li>
      <li>To maintain membership it is necessary to attend within every two-calendar-year
        period at least one recognized polygraph seminar. Seminars qualifying are those
        conducted by the AAPP, an AAPP-recognized polygraph school, or a formally organized
        national, regional or state polygraph organization.</li>
      <li>Members shall have the right to vote if the member’s dues for that year are paid
        prior to the Annual Meeting.</li>
      <li>Members may hold any AAPP office.</li>
      <li>Members may serve on any AAPP committee.</li>
    </ol>
    <li>Honorary</li>
    <ol class="second-level">
      <li>Any person not eligible for membership but who has rendered distinguished service
        and support to the polygraph profession.</li>
      <li>Such person shall be nominated by a majority vote of the Board of Directors and approved by
        majority vote of the membership at an Annual Meeting. Not more than one honorary
        membership will be awarded annually.</li>
      <li>Honorary members are eligible to attend all AAPP functions but are not eligible to vote or hold
        any elected office.</li>
      <li>Honorary members shall have the right to participate in any AAPP committee, but not a Chair.</li>
    </ol>
    <li>Affiliate</li>
    <ol class="second-level">
      <li>Any person demonstrating a genuine interest in the polygraph profession shall be eligible for
        affiliate membership. Such interest may be demonstrated by being involved in the
        manufacture or sale of polygraph instruments, research of polygraph instruments or
        techniques or other functions acceptable to the Board of Directors. Further, any current
        employee, salaried or contract, of any agency equivalent to an American Law Enforcement
        AAPP Constitution & Bylaws R5/14
        8
        organization in countries friendly to or allied with the United States may also be eligible for
        affiliate membership. The prospective foreign member’s responsibilities must include the
        administration of polygraph examinations for the employer; has met licensing/certification
        requirements mandated in the place of residence/practice; and is a graduate of an AAPP
        recognized polygraph school.</li>
      <li>The procedure for membership acceptance shall be the same as for members.</li>
      <li>Affiliate members are not eligible to vote or hold any elected office.</li>
      <li>Affiliate members shall have the right to participate in other activities of the AAPP, and may
        serve on any committee, but not as Chair.</li>
    </ol>
    <li>Life</li>
    <ol class="second-level">
      <li>Life membership shall consist of all Past Presidents.</li>
      <li>Life members will not be required to pay annual dues or seminar registration fees.</li>
      <li>Life members have the right of voice, vote and eligibility for election to any office.</li>
      <li>Life Membership is also granted to those active or retired members of the AAPP who, because
        of exemplary support of the AAPP, are nominated by a two-thirds majority of the Board of
        Directors and approved by a majority vote of the membership at an Annual Meeting.</li>
      <li>No more than one life membership will be awarded annually.</li>
      <li>Life members have the right to vote.</li>
      <li>Life members may only hold the office of President, or Vice President if the qualification for
        membership is met. Life members shall have the right to hold the other elected offices
        of the AAPP.</li>
      <li>Life members may serve on any AAPP committee.</li>
    </ol>
    <li>Retired</li>
    <ol class="second-level">
      <li>Retired membership is limited to those members that have been in active membership status
        for a minimum of five (5) consecutive years and are no longer actively engaged in any type of
        polygraph consultations and/or the administration of polygraph examination.
      <li>Retired Members shall not be assessed any annual dues.</li>
      <li>Retired members are eligible for reinstatement to normal membership upon application.</li>
      <li>Retired members shall have the right to vote.
        AAPP Constitution & Bylaws R5/14
        9</li>
      <li>Retired members shall be eligible to hold any elective offices other than President and Vice
        President.</li>
      <li>Retired members may serve on any committee.</li>
      <li>Retired members shall receive all mailings of the AAPP.</li>
    </ol>

  </ol>
</div>
