<div class="base-layout">
    <h1>Officers and Board Members</h1>
    <h2>AAPP Board Members</h2>
    <div layout layout-margin layout-wrap layout-xs="column" layout-align="center">
        
        <!-- <div flex="nogrow" class="person-container">
            <div layout layout-margin flex="nogrow" layout-align="center center" layout-xs="column">
                <img flex="nogrow" src="/assets/board/wardwell.jpg" class="board-image" />
                <div flex="nogrow" class="board-desc-container">
                    <h3>Chairman</h3>
                    <h4 class="board-name">James Wardwell</h4>
                    <p>
                        10 Chestnut St
                        <br/> New Britain, CT 06051
                        <br/> Jim.Wardwell@gmail.com
                        <br/>
                    </p>
                </div>
            </div>
        </div> -->
        <div flex="nogrow" class="person-container">
            <div layout layout-margin flex="nogrow" layout-align="center center" layout-xs="column">
                <img flex="nogrow" src="/assets/board/piasecki.jpg" class="board-image" />
                <div flex="nogrow" class="board-desc-container">
                    <h3>Chairman</h3>
                    <h4 class="board-name">Derek Piasecki</h4>
                    <p>
                        St. Charles PD, MO
                        <br/> 1781 Zumbehl Road
                        <br/> St. Charles, MO 63303
                        <br/> Office: 314-560-3378
                        <br/> derek.piasecki@yahoo.com
                        <br/>
                    </p>
                </div>
            </div>
        </div>
        <div flex="nogrow" class="person-container">
            <div layout layout-margin flex="nogrow" layout-align="center center" layout-xs="column">
                <img flex="nogrow" src="/assets/board/rembisz.jpg" class="board-image" />
                <div flex="nogrow" class="board-desc-container">
                    <h3>President</h3>
                    <h4 class="board-name">Adam Rembisz</h4>
                    <p>
                        New Britain Police Department
                        <br/> 10 Chestnut ST
                        <br/> New Britain, CT 06051
                        <br/> Office: 860-826-3132
                        <br/>adam.rembisz@newbritainct.gov
                        <br/>
                    </p>
                </div>
            </div>
        </div>
        <div flex="nogrow" class="person-container">
            <div layout layout-margin flex="nogrow" layout-align="center center" layout-xs="column">
                <img flex="nogrow" src="/assets/board/kramer.jpg" class="board-image" />
                <div flex="nogrow" class="board-desc-container">
                    <h3>Vice President</h3>
                    <h4 class="board-name">Cory Kramer</h4>
                    <p>
                        High Point Police Department
                        <br/> 1009 Leonard Ave

                        <br/>High Point, NC 27260
                        <br/>Office: 336-471-0584
                        <br/>cory.kramer@highpointnc.gov
                        <br/>
                    </p>
                    
                </div>
            </div>
        </div>
        <div flex="nogrow" class="person-container">
            <div layout layout-margin flex="nogrow" layout-align="center center" layout-xs="column">
                <img flex="nogrow" src="/assets/board/heard.jpg" class="board-image" />
                <div flex="nogrow" class="board-desc-container">
                    <h3>Secretary</h3>
                    <h4 class="board-name">Robert C. Heard</h4>
                    <p>
                        San Bernardino County Sheriff's Dept. (Retired)
                        <br/> PO Box 552
                        <br/> Yucaipa, CA 92399
                        <br/> aappsecretary@gmail.com
                        <br/>
                    </p>
                </div>
            </div>
        </div>
        <div flex="nogrow" class="person-container">
            <div layout layout-margin flex="nogrow" layout-align="center center" layout-xs="column">
                <img flex="nogrow" src="/assets/board/moore.jpg" class="board-image" />
                <div flex="nogrow" class="board-desc-container">
                    <h3>Treasurer</h3>
                    <h4 class="board-name">Gordon W. Moore</h4>
                    <p>
                        Las Vegas Metropolitan Police Dept.
                        <br/> 400 S Martin L. King Blvd.
                        <br/>Building B-204
                        <br/>Las Vegas, NV 89106
                        <br/>Office: 702-497-8016
                        <br/>g8655M@lvmpd.com
                        <br/>
                    </p>
                </div>
            </div>
        </div>

        <div flex="nogrow" class="person-container">
            <div layout layout-margin flex="nogrow" layout-align="center center" layout-xs="column">
                <img flex="nogrow" src="/assets/board/sudaisar.jpg" class="board-image" />
                <div flex="nogrow" class="board-desc-container">
                    <h3>Region I Director</h3>
                    <h4 class="board-name">Scott Sudaisar</h4>
                    <p>
                        Newberg-Dundee Police Department
                        <br/> 401 E Third Street

                        <br/>Newberg, OR 97132
                        <br/>Phone: 503-349-5828
                        <br/>scott@spfallc.com 
                        <br/>
                    </p>
                    <div class="region-states">
                        Alaska &#8226; California &#8226; Hawaii &#8226; Idaho &#8226; Nevada &#8226; Oregon &#8226; Washington &#8226; Canada
                    </div>
                </div>
            </div>
        </div>

        <div flex="nogrow" class="person-container">
            <div layout layout-margin flex="nogrow" layout-align="center center" layout-xs="column">
                <img flex="nogrow" src="/assets/board/maddolin.jpg" class="board-image" />
                <div flex="nogrow" class="board-desc-container">
                    <h3>Region II Director</h3>
                    <h4 class="board-name">Steven Maddolin</h4>
                    <p>
                        Wentzville Police Department
                        <br/> 1019 Schroeder Creek Blvd.

                        <br/>Wentzville, MO 63385
                        <br/>Office: 636-639-2105
                       
                        <br/>smaddolin238@gmail.com
                        <br/>
                    </p>
                    <div class="region-states">
                        Illinois &#8226; Indiana &#8226; Wisconsin &#8226; Kansas &#8226; Michigan &#8226; Minnesota &#8226; Missouri &#8226; Nebraska
                        &#8226; Iowa &#8226; North & South Dakota &#8226; Africa
                    </div>
                </div>
            </div>
        </div>

        <div flex="nogrow" class="person-container">
            <div layout layout-margin flex="nogrow" layout-align="center center" layout-xs="column">
                <img flex="nogrow" src="/assets/board/colonello.jpg" class="board-image" />
                <div flex="nogrow" class="board-desc-container">
                    <h3>Region III Director</h3>
                    <h4 class="board-name">Karen Colonnello</h4>
                    <p>
                        New York, NY
                        <br/>
                        <br/>
                        <br/> Office: 516-672-2562
                        <br/> fong6687@aol.com
                        <br/>
                    </p>
                    <div class="region-states">
                        Connecticut &#8226; Delaware &#8226; Maine &#8226; Maryland &#8226; Massachusetts &#8226; Ohio &#8226; New Jersey &#8226;
                        Pennsylvania &#8226; Rhode Island
                    </div>
                </div>
            </div>
        </div>

        <div flex="nogrow" class="person-container">
            <div layout layout-margin flex="nogrow" layout-align="center center" layout-xs="column">
                <img flex="nogrow" src="/assets/board/doll.jpg" class="board-image" />
                <div flex="nogrow" class="board-desc-container">
                    <h3>Region IV Director</h3>
                    <h4 class="board-name">John F. Doll</h4>
                    <p>
                        Investigator
                        <br/> 500 Jefferson County Pkwy

                        <br/> Golden, CO 80401
                        <br/> Office: 303-271-6921
                        <br/> jdoll@jeffco.us
                        <br/>
                    </p>
                    <div class="region-states">
                        Arizona &#8226; Colorado &#8226; Utah &#8226; Texas &#8226; New Mexico &#8226; Oklahoma &#8226; Wyoming &#8226; Latin America
                    </div>
                </div>
            </div>
        </div>

        <div flex="nogrow" class="person-container">
            <div layout layout-margin flex="nogrow" layout-align="center center" layout-xs="column">
                <img flex="nogrow" src="/assets/board/maconkey.jpg" class="board-image" />
                <div flex="nogrow" class="board-desc-container">
                    <h3>Region V Director</h3>
                    <h4 class="board-name">Michael Conkey</h4>
                    <p>
                        Charleston County Sheriff's Office
                        <br/> 3691 Leeds Ave

                        <br/>N. Charleston, SC 29405
                        <br/>Office: 843-696-2933
                        <br/>maconkey865@gmail.com
                        <br/>
                    </p>
                    <div class="region-states">
                        Alabama &#8226; Arkansas &#8226; Florida &#8226; Georgia &#8226; Kentucky &#8226; Louisiana &#8226; W.Virginia &#8226; Tennessee
                        &#8226; Virginia &#8226; North Carolina &#8226; South Carolina &#8226; Mississippi &#8226; Washington D.C. &#8226; Europe
                    </div>
                </div>
            </div>
        </div>


    </div>
    <h2>AAPP Officers</h2>
    <div layout layout-margin layout-wrap layout-xs="column" layout-align="center">
        <div flex="nogrow" class="person-container">
            <div layout layout-margin flex="nogrow" layout-align="center center" layout-xs="column">
                <img flex="nogrow" src="/assets/board/hines.jpg" class="board-image" />
                <div flex="nogrow" class="board-desc-container">
                    <h3>National Office Manager</h3>
                    <h4 class="board-name">Allison Hines</h4>
                    <p>
                        3223 Lake Ave
                        <br/>Unit 15c-168
                        <br/>Wilmette, IL 60091-1069
                        <br/>Office: 847-635-3980
                        <br/>nom@policepolygraph.org
                        <br/>
                    </p>
                </div>
            </div>
        </div>
        <div flex="nogrow" class="person-container">
            <div layout layout-margin flex="nogrow" layout-align="center center" layout-xs="column">
                <img flex="nogrow" src="/assets/board/cushman.jpg" class="board-image" />
                <div flex="nogrow" class="board-desc-container">
                    <h3>Chaplain / Research Information Chairman</h3>
                    <h4 class="board-name">Barry Cushman</h4>
                    <p>
                        Portland Police Department
                        <br/>109 Middle St
                        <br/>Portland, ME 04101
                        <br/>Office: 207-874-8585
                        <br/>barrypolygraph@gmail.com
                        <br/>
                    </p>
                </div>
            </div>
        </div>
        <div flex="nogrow" class="person-container">
            <div layout layout-margin flex="nogrow" layout-align="center center" layout-xs="column">
                <img flex="nogrow" src="/assets/board/reubart.jpg" class="board-image" />
                <div flex="nogrow" class="board-desc-container">
                    <h3>Communications Director / Editor</h3>
                    <h4 class="board-name">Jennifer Reubart</h4>
                    <p>
                        Las Vegas Metro PD
                        <br/>400 S. Martin L King Blvd
                        <br/>Las Vegas, NV 89106
                        <br/>Office: 702-828-7756
                        <br/>aappcommdirectorjen@gmail.com
                        <br/>
                    </p>
                </div>
            </div>
        </div>
        <div flex="nogrow" class="person-container">
            <div layout layout-margin flex="nogrow" layout-align="center center" layout-xs="column">
                <img flex="nogrow" src="/assets/board/nagle.jpg" class="board-image" />
                <div flex="nogrow" class="board-desc-container">
                    <h3>Legal Counsel</h3>
                    <h4 class="board-name">David E. Nagle, Esq.</h4>
                    <p>
                        Jackson Lewis P.C.
                        <br/>701 East Byrd St
                        <br/>17th Floor
                        <br/>Richmond, VA 23219
                        <br/>Office: 804-648-4077
                        <br/>
                    </p>
                </div>
            </div>
        </div>
        <div flex="nogrow" class="person-container">
            <div layout layout-margin flex="nogrow" layout-align="center center" layout-xs="column">
                <img flex="nogrow" src="/assets/board/criswell.jpg" class="board-image" />
                <div flex="nogrow" class="board-desc-container">
                    <h3>Quality Control Director</h3>
                    <h4 class="board-name">Elmer Criswell</h4>
                    <p>
                        NCTC Polygraph Training
                        <br/>P.O. Box 68
                        <br/>Duncannon, PA 17020
                        <br/>Office: 717-780-2513
                        <br/>lietestec@aol.com
                        <br/>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <h2>Professional Committee</h2>
    <div layout layout-margin layout-wrap layout-xs="column" layout-align="center">
        <div flex="nogrow" class="person-container" layout="column" layout-align="center center">

            <img flex="nogrow" src="/assets/board/criswell.jpg" class="board-image" />
            <div flex="nogrow" class="center-name">
                Elmer Criswell
            </div>

        </div>
        <div flex="nogrow" class="person-container" layout="column" layout-align="center center">

                <img flex="nogrow" src="/assets/board/cushman.jpg" class="board-image" />
                <div flex="nogrow" class="center-name">
                   Barry Cushman
                </div>
    
            </div>
            <div flex="nogrow" class="person-container" layout="column" layout-align="center center">

                    <img flex="nogrow" src="/assets/board/moore.jpg" class="board-image" />
                    <div flex="nogrow" class="center-name">
                        Gordon Moore
                    </div>
        
                </div>
    </div>
    <h2>Historian</h2>
    <div layout layout-margin layout-wrap layout-xs="column" layout-align="center">
            <div flex="nogrow" class="person-container" layout="column" layout-align="center center">
    
                <img flex="nogrow" src="/assets/board/heard.jpg" class="board-image" />
                <div flex="nogrow" class="center-name">
                    Bob Heard
                </div>
    
            </div>
        </div>
</div>