.user-panel{
    margin-bottom: 10px;
    overflow:hidden;
    h4{color:rgb(26, 26, 189)}
}

.user-full{
    padding:10px;

    background:#eaeaea;
}


.filters{
    background:white;
    margin-bottom: 10px;
}

.suspended{
    color:red;
}

