<div class="base-layout">
    <h1>Chaplain's Page</h1>
    <h2>History and Ministry of Chaplains:</h2>
    <p>
        According to legend, when St. Martin of Tours (c. 335-397 AD) was serving as a soldier in the Roman army, he came across
        a beggar on a cold night. As the story goes, Martin of Tours, moved by compassion, cut apart his military cloak and
        gave the poor beggar, who was freezing from the cold, half. Sometime later, he met Jesus, who returned the cloak,
        stating that Martin of Tours had clothed him with his robe. The incident resulted in Martin of Tours' conversion
        and his commitment to the Church (later becoming Bishop of Tours). However, the cloak came to symbolize the compassion
        shown by Martin of Tours toward those in need. It is said that the cloak, a religious relic, was carried into battle
        by kings - kings who also had their own personal clergy to attend to their needs.
    </p>
    <p>
        "Cloak" in Latin is "cappella" (the plural is "cappellani"), and priests were the keepers and protectors of relics. In time,
        those priests became known as "keepers of the cloak" (or "cappellanus"). The word "chaplain" comes from the French
        translation of the Latin. Thus, chaplains were ministers who ministered to those outside the four walls of the church,
        and there are thousands who minister (i.e. serve) outside of a traditional church or chapel (or synagogue, etc.).
    </p>
    <p>
        Even though chaplains generally come from a particular religious background, they minister to those from all faiths through
        a ministry of service. While they are experts on their religious faiths, their goal is not to convert those to whom
        they minister to the faith of the chaplain. While groups often choose a chaplain who best represents the majority
        of their memberships, it is not unheard of to see, for example, a Muslim chaplain ministering to a Christian or vice
        versa.
    </p>
    <p>
        Chaplains' duties vary from organization to organization, but in general they are available as experts in religious matters,
        provide spiritual counsel; are expert "listeners" when someone needs another to talk to in confidence; serve on review
        boards awards committees, etc.; provide general assistance when called upon; offer prayers on special occasions,
        award ceremonies, banquets, etc.; teach on topics of stress, crisis management, etc.; and anything else the organization
        for which they serve requests. Chaplains' backgrounds vary, and some have skills and training others do not, so an
        exhaustive list is not possible.
    </p>
    <h2>
        Benefits and Causes Committee:
    </h2>
    <p>
        For a number of years the AAPP has had a "Benefits and Causes Committee." If you have an interesting item, polygraph success
        story, newly appointed or promoted member in your unit, or any other polygraph related matter you think could have
        interest to your local media or should appear in an upcoming Journal, please contact your regional director with
        the information. We will see that the item gets appropriate attention.
    </p>
    <p>
        Also, if you know of any law enforcement officers killed in the line of duty, or any sick or injured AAPP members, please
        let us know so the appropriate sympathies or get well can be sent.
    </p>

    <h2>
        About the AAPP Chaplain:
    </h2>


    <div flex="nogrow" class="person-container">
        <div layout layout-margin flex="nogrow" layout-align="center center" layout-xs="column">
            <img flex="nogrow" src="/assets/board/cushman.jpg" class="board-image" />
            <div flex="nogrow" class="board-desc-container">
                <h3>Chaplain / Research Information Chairman</h3>
                <h4 class="board-name">Barry Cushman</h4>
                <p>
                    Portland Police Department
                    <br/>109 Middle St
                    <br/> Portland, ME 04101
                    <br/> Office: 207-874-8585
                    <br/>
                </p>
            </div>
        </div>
    </div>

    <p>
        Barry Cushman has been a police officer for more than 20 years, and a practicing polygraph examiner since 2003. In addition
        to his law enforcement duties, he is an ordained minister with the Church of God (Cleveland, TN) and is endorsed
        by the Church of God Chaplains Commission as a Community Service Chaplain (Law Enforcement).
    </p>
</div>