<div class="base-layout">
  <h1>2021 Scholarship Winners</h1>
  <div class="scholar">
    <span class="scholar-name">Mathew Longuski</span>
    <br />
    1st Place Winner <br />
    $5,500.00 <br />
    Father- Andrew Longuski
    <br />
  </div>
  <div class="scholar">
    <span class="scholar-name">Drew Martinez</span>
    <br />
    2nd Place Winner <br />
    $3,500.00 <br />
    Father - Timothy Martinez
    <br />
  </div>
  <div class="scholar">
    <span class="scholar-name">Taylor Schneider</span>
    <br />
    3rd Place Winner <br />
    $2,000.00 <br />
    Mother - Lisa Holtz Schneider
    <br />
  </div>
  <div class="scholar">
    <span class="scholar-name">Erin Martinez</span>
    <br />
    4th Place Winner <br />
    $1,000.00 <br />
    Father - Timothy Martinez
    <br />
  </div>
  <h1>2020 Scholarship Winners</h1>

  <div class="scholar">
    <span class="scholar-name">Erin Martinez</span>
    <br />
    1st Place Winner <br />
    $5,500.00 <br />
    Father – Timothy Martinez
    <br />
  </div>
  <div class="scholar">
    <span class="scholar-name">Sophia DeBruin </span>
    <br />
    2nd Place Winner <br />
    $3,500.00 <br />
    Grandfather – Tom DeBruin
    <br />
  </div>
  <div class="scholar">
    <span class="scholar-name">Kaitlyn Crowley</span>
    <br />
    3rd Place Winner <br />
    $2,000.00 <br />
    Uncle – G. Jeff Johnson
    <br />
  </div>
  <div class="scholar">
    <span class="scholar-name">Morgan Lewallen</span>
    <br />
    4th Place Winner <br />
    $1,000.00 <br />
    Father – Aaron Lewallen
    <br />
  </div>

  <mat-divider></mat-divider>
  <h1>Apply for AAPP Scholarship</h1>
  <div class="scholar">
    <p>
      Scholarship applicant must have at least one parent, grandparent, uncle,
      aunt or legal guardian or spouse who is a FULL, LIFE, or HONORABLY RETIRED
      member in good standing with the AAPP. The applicant's relative may be
      deceased as long as he or she was a member in good standing with the AAPP
      at the time of death. Download the scholarship applications for detailed
      instructions, terms and conditions.
    </p>
    <a href="/assets/downloads/scholarshipform2022.pdf"
      ><mat-icon style="font-size: 5em">picture_as_pdf</mat-icon></a
    >
    <p>
      <a href="/assets/downloads/scholarshipform2022.pdf"
        >Download Scholarship Application</a
      >
      - Adobe PDF
    </p>
  </div>
</div>
