.hours-panel{
    margin-bottom: 10px;
    overflow:hidden;
    h4{color:rgb(26, 26, 189)}
}

.hours-logs{
    padding: 10px;
}

.hours-full{
    padding:10px;
}

.line-item{
    border-bottom: 1px rgb(161, 161, 161) solid;
}

.total{
    font-size: 1.3em;
    color: rgb(0, 0, 100);
}

.comment{
    color: rgb(0, 0, 105);
    font-size: .8em;
}