<div class="join-advert">
  <div class="join-start">
    <div class="join-header">
      <img class="join-logo" src="/assets/images/logo_white.svg" />
      <h1 class="heading-no-graphic">AAPP Membership</h1>
      <button mat-button class="sign-up-button" routerLink="/web/public/join">APPLY NOW</button>
    </div>

  </div>
  <div layout layout-align="center center">
    <mat-icon style="font-size:10vw" flex="nogrow">keyboard_arrow_down</mat-icon>
  </div>
  <div class="join-blurb">
    <p>Membership in the AAPP is your entry into one of the finest groups of law enforcement professionals in the country.  The AAPP maintains a keen focus on furthering knowledge through exceptional and continual polygraph training.  AAPP Membership is a membership to be proud of; our members are from all levels of local, state, and federal law enforcement.   </p>
    <h3>Commitment to Integrity</h3>
    <p>The AAPP is strong in its commitment to integrity and meeting and exceeding the highest standards in the industry. Join an association that truly can have a significant positive impact on your polygraph career through networking with other law enforcement professionals and training.</p>
  </div>
  <div class="join-image-1"></div>
 
  <div class="join-blurb">
      <h3>
          Membership Benefits
        </h3>
      <div class="hotel-room"></div>
      <p> <img src="/assets/images/logo.svg" class="bullet-logo"/>The American Association of Police Polygraphists (AAPP) consists of over 1200 law enforcement polygraph examiners and is professionally recognized throughout the United States of America as maintaining the highest standards of professional, moral and ethical conduct by assuming the responsibility for conduct and behavior designed to serve the cause of truth and justice.</p>
       <p> <img src="/assets/images/logo.svg" class="bullet-logo"/>Membership in the AAPP recognizes that the examiner has met licensing/certification requirements mandated in the state of residence/practice; and is a graduate of an AAPP recognized polygraph school.  Members are able to apply and obtain a Forensic Examiner Certification which verifies the examiner is up to date and meets annual training requirements.  AAPP members enjoy opportunities and forums for the exchange of information regarding polygraph experiences, studies and research. Members also enjoy membership pricing for annual training seminars.</p>
         
        <p><img src="/assets/images/logo.svg" class="bullet-logo"/>Members can access to the National Office, staffed with a full-time Office Manager that is a clearing house for all polygraph related issues and is the primary custodian of all records and publications. AAPP members also have access to a vetted Directory of Membership resource, by names and/or geographic location, throughout the United States of America for law enforcement professional liaisons/use/contacts. A list of state association information and AAPP accredited polygraph school listings are also available.</p>
         
        <p><img src="/assets/images/logo.svg" class="bullet-logo"/>AAPP members have access to vetted resources throughout the United States of America for law enforcement professional liasions/use/contacts.</p>
         
        <p><img src="/assets/images/logo.svg" class="bullet-logo"/>AAPP members may take advantage of Internship Supervisory resources for new examiners; have access to Quality Control resources and AAPP “Active” members may run for office and serve on the committees and/or the AAPP Board.</p>
    
  </div>

  <div class="join-blurb">
      <h3>
          Costs
        </h3>
      <p>Members: $125 annual fee (plus $25 one-time, non-refundable application fee).</p>
      <p>Affiliate/International Members: $150 annual fee (plus $25 one-time, non-refundable application fee).</p>
  </div>
  
  <div class="join-blurb">
    <p>The AAPP members demonstrate the highest level of integrity and professionalism.  Don’t wait, join the AAPP now and take advantage of all the membership benefits.  CLICK BELOW NOW to start the application process.</p>
      <div class="button-container">
      <button mat-button class="sign-up-button-large" routerLink="/web/public/join">APPLY NOW</button>
      </div>

  </div>
  

</div>