<div class="base-layout">
  <mat-card>
    
    <div class="inside-card">
        <h1>Voice Stress Information</h1>
      <h3>Videos</h3>
      <p>
        <span class="file">
            <img alt="Video icon" class="file-icon" src="/assets/images/video_icon.png" title="Video">
          <a href="https://www.americanassociationofpolicepolygraphists.org/system/files/cvsa.mpg" target="_blank" title="Video Segment from Primetime with Brian Ross"
            type="video/mpeg; length=130572744">Video Segment from Primetime with Brian Ross</a>
        </span>
      </p>
      <p>The AAPP presents a video clip on Computer Voice Stress Analysis for our members to view and make an informed decision.</p>
      <p>127.5 Meg mpg file. This will take some time to download to your temp folder. You need to have Windows Media Player
        or Quicktime or Realtime Player software on your computer to view.</p>
      <h3>Credits:</h3>
      <p>This video clip is ©2007 by ABC® - Primetime with Brian Ross Aired on March 30, 2006</p>
      <hr>
      <h3>Voice Stress Articles</h3>
      <p>
        <span class="file">
          <img alt="PDF icon" class="file-icon" src="/assets/images/pdf-icon.png" title="PDF">
          <a href="/assets/downloads/vs_article1.pdf" target="_blank" title="VSA Technological Advance or a Step Backwards" type="application/pdf; length=252798">VSA Technological Advance or a Step Backwards</a>
        </span>
      </p>
      <p>
        <span class="file">
            <img alt="PDF icon" class="file-icon" src="/assets/images/pdf-icon.png" title="PDF">
          <a href="/assets/downloads/vs_article2.pdf" target="_blank" title="Voice analyzers draw praise flak 11-7-04" type="application/pdf; length=204341">Voice analyzers draw praise flak 11-7-04</a>
        </span>
      </p>
      <p>
        <span class="file">
            <img alt="PDF icon" class="file-icon" src="/assets/images/pdf-icon.png" title="PDF">
          <a href="https://www.americanassociationofpolicepolygraphists.org/system/files/vs_article3.pdf" target="_blank"
            title="CVSA and False Confessions - Crowe Case" type="application/pdf; length=41954">CVSA and False Confessions - Crowe Case</a>
        </span>
      </p>
      <p>
        <span class="file">
            <img alt="PDF icon" class="file-icon" src="/assets/images/pdf-icon.png" title="PDF">
          <a href="https://www.americanassociationofpolicepolygraphists.org/system/files/vs_article4.pdf" target="_blank"
            title="Judge hears arguments in Crowe civil case November 9 2004" type="application/pdf; length=79947">Judge hears arguments in Crowe civil case November 9 2004</a>
        </span>
      </p>
      <p>
        <span class="file">
            <img alt="PDF icon" class="file-icon" src="/assets/images/pdf-icon.png" title="PDF">
          <a href="https://www.americanassociationofpolicepolygraphists.org/system/files/vs_article5.pdf" target="_blank"
            title="Judge hears arguments over machine used in Crowe interrogations Dec 7 2004" type="application/pdf; length=132733">Judge hears arguments over machine used in Crowe interrogations Dec 7 2004</a>
        </span>
      </p>
      <p>
        <span class="file">
            <img alt="PDF icon" class="file-icon" src="/assets/images/pdf-icon.png" title="PDF">
          <a href="https://www.americanassociationofpolicepolygraphists.org/system/files/vs_article7.pdf" target="_blank"
            title="Phoenix case - false CVSA results and lawsuit" type="application/pdf; length=20462">Phoenix case - false CVSA results and lawsuit</a>
        </span>
      </p>
      <p>
        <span class="file">
            <img alt="PDF icon" class="file-icon" src="/assets/images/pdf-icon.png" title="PDF">
          <a href="https://www.americanassociationofpolicepolygraphists.org/system/files/vs_article8.pdf" target="_blank"
            title="Assessing the Validity of Voice Stress Analysis Tools in a Jail Setting (128 page document " type="application/pdf; length=2155864">Assessing the Validity of Voice Stress Analysis Tools in a Jail Setting (128 page document </a>
        </span>
      </p>
      <p>
        <span class="file">
            <img alt="PDF icon" class="file-icon" src="/assets/images/pdf-icon.png" title="PDF">
          <a href="https://www.americanassociationofpolicepolygraphists.org/system/files/vs_article9.pdf" target="_blank"
            title="Research casts doubt on voice stress" type="application/pdf; length=50728">Research casts doubt on voice stress</a>
        </span>
      </p>
      <p>
        <span class="file">
            <img alt="PDF icon" class="file-icon" src="/assets/images/pdf-icon.png" title="PDF">
          <a href="https://www.americanassociationofpolicepolygraphists.org/system/files/vs_article10.pdf" target="_blank"
            title="Jefferson police cancel training on voice-stress analyzer" type="application/pdf; length=122640">Jefferson police cancel training on voice-stress analyzer</a>
        </span>
      </p>
    </div>
  </mat-card>
</div>